{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
   {# <a class="btn btn-primary btn-sm mt-4" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
   href="{{ path('sources.visit', {'projectId': project.id}) }}" role="button">Retour au projet {{ project.nom }}</a>
   <a class="btn btn-outline-primary btn-sm mt-4" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
   href="{{ path('projects.index')}}" role="button">Retour à tous les projets </a> #}
   <h3 class="h3 mt-5 font-weight-normal">Nom</h3>
   {{ user.nom }}
   <h3 class="h3 mt-5 font-weight-normal">Prenom</h3>
   {{ user.prenom }}
   <h3 class="h3 mt-5 font-weight-normal">Profil</h3>
   {{ user.profil }}
   <h3 class="h3 mt-5 font-weight-normal">Description</h3>
   {{ user.description | nl2br}}
   <h3 class="h3 mt-5 font-weight-normal">Langues : </h3>
   <ul class="list-group">
   {% for langue in langues %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
         {{ language_name(langue.nom) }}
         <span class="badge text-primary rounded-pill">Niveau - {{ langue.niveau }}</span>
      </li>
   {% endfor %}
   </ul>
   <a class="btn btn-outline-primary btn-sm mt-4" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
   href="mailto:{{ user.email }}" role="button">contacter {{ user.prenom }}</a>
{% endblock %}
