{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}
    <h4>
        Mes projets :
    </h4>
    <ul class="list-group">
        {% for project in projects %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{ path('sources.index', {'projectId': project.id}) }}" class="text-decoration-none"   >{{ project.nom }}</a>
            <span class="badge text-dark rounded-pill">
                projet en : <span class="fs-6 ms-2 me-3">{{ language_name(project.langueoriginale) }}</span> à traduire en : <span class="fs-6 ms-2">{{ language_name(project.languetraduction1) }}</span>
                {% if project.languetraduction2 != NULL %}
                    <span class="fs-6 ms-2">/ {{ language_name(project.languetraduction2) }}</span>
                {% endif %}
                {% if project.languetraduction3 != NULL %}
                    <span class="fs-6 ms-2">/ {{ language_name(project.languetraduction3) }}</span>
                {% endif %}
            </span>
            <span class="badge text-dark rounded-pill fw-light">
                (créé le {{ project.getCreatedAt()|date('Y-m-d') }})
                (modifié le {{ project.getUpdatedAt()|date('Y-m-d') }})
            </span>
        </li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary btn-sm mt-4" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
    href="{{ path('projects.create') }}" role="button">Créer un nouveau projet</a>
{% endblock %}
