{% extends 'base.html.twig' %}

{% block title %}Les sources{% endblock %}

{% block body %}
     <h4>
        Les sources du projet : <span class="fs-3">{{ project.nom }}</span>
    </h4>
    <h6>projet en : <span class="fs-5 ms-2 me-3">{{ language_name(project.langueoriginale) }}</span> à traduire en : <span class="fs-5 ms-2">{{ language_name(project.languetraduction1) }}
    {% if project.languetraduction2 != NULL %}
        <span class="fs-5 ms-2">/ {{ language_name(project.languetraduction2) }}</span>
    {% endif %}
    {% if project.languetraduction3 != NULL %}
        <span class="fs-5 ms-2">/ {{ language_name(project.languetraduction3) }}</span>
    {% endif %}
    </span></h6>
    {% if user_connected != NULL %}
        {% if user_connected.id == user.id %}
            <p>
                <span class="fs-5">Vous avez créé ce projet</span>
            </p>
        {% else %}
            <p>
                Projet créé par : 
                <a href="{{ path('profil.visit', {'userId': user.id}) }}" target="_blank">
                    <span class="fs-5">{{ user.prenom }} {{ user.nom }}</span>
                </a>
            </p>
        {% endif %}
    {% else %}
        <p class="fw-lighter">
            Pour voir la fiche du chef de projet, veuillez vous connecter
        </p>
    {% endif %}
    {% if not sources %}
        <div class="fs-4">Pas de source pour le moment pour ce projet..</div>
    {% endif %}
    <a class="btn btn-primary btn-sm mt-4" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
        href="{{ path('projects.index')}}" role="button">Retour aux projets
    </a>
    <ul class="list-group">
        {% for source in sources %}
        <li>
            <h5 class="h5 mt-5 font-weight-normal">{{ source.clef }} (clef)</h5>
            <h8 class="h8 mt-3 font-weight-normal">Créé le</h8>
            {{ source.getCreatedAt()|date('Y-m-d') }}
            <h5 class="h5 mt-3 font-weight-normal">Contenu</h5>
            <div class="list-group-item d-flex justify-content-between align-items-center">
                {{ source.contenu | nl2br }}
                <a class="btn btn-primary btn-sm" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                    href="{{ path('traductions.index', {'sourceId': source.id, 'projectId': project.id}) }}" role="button">Voir les traductions
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
